:root{
    --primary-black-color: #000000;
    --primary-white-color: #FFFFFF;
    --secondary-text-color: #AE1332;
    --background-color: #AE1332;
    --secondary-background-color: #F5CE13;
    --accent-color: #A4CB66;
    --accent-background-color-icon: rgba(174, 19, 50, 0.1);
    --border-color-input: #B3B3B3;
    --placeholder-color-input: #808080;
}