.positon-elem-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
}

.button-mobile-menu{
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--background-color);

    &:hover,&:focus{
        color: var(--accent-color);
    }
}

.button-mobile-menu svg{
    fill: currentColor;
}

.mobile-menu{
    background-color: var(--background-color);
    text-align: center;

    padding-top: 124px;
    height: 100vh;
    width: 100%;

    z-index: 999;
    pointer-events: auto;
    opacity: 0;
    visibility: 0;
    position: fixed;
    transform: translateY(100vh);
}

.mobile-menu.is-open{
    pointer-events: auto;
    opacity: 1;
    visibility: 1;
    transform: translateY(0);
}

.button-mobile-menu-close{
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    visibility: 0;
    position: absolute;
    top: 23%;
    right: 6%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--primary-white-color);
    color: var(--background-color);
    &:hover{
        color: var(--accent-color);
    }
}

.button-mobile-menu-close.is-show{
    opacity: 1;
    visibility: 1;
    pointer-events: auto;
}

.button-mobile-menu-close svg{
    stroke: currentColor;
}

.navigation-list{
    padding: 0;
    margin: 0  ;
    list-style: none;
    color: var(--primary-white-color);
}

.navigation-list-item:not(:first-child){
    margin-top: 16px;

}
.mobile-menu-link{
    text-decoration: none;
    color: var(--primary-white-color);

    &:hover,&:focus{
        color: var(--accent-color);
    }
}

.uil-cart{
    fill: currentColor;
}


